@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f5f7f8;
  height: 100vh;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
